.app-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav--search {
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  background-color: #fefefe;
}

.nav--search:focus {
  border: 3px solid var(--dark);
  outline: none;
}

.selection {
  padding: 0.5rem;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  background-color: #fefefe;
}
