<section>
  <table class="app--table">
    <tr class="table--column-name">
      <th *ngFor="let column of columnsName">{{ column }}</th>
    </tr>
    <tr
      class="row table--employee-info"
      *ngFor="let line of lines; let i = index"
    >
      <td
        style="width: 250px"
        class="data-cell"
        *ngFor="let content of data[i]; let j = index"
        [class.name]="j == 0"
      >
        <input *ngIf="j === 0" type="checkbox" />
        <img
          class="employee-image"
          width="50"
          height="50"
          *ngIf="j === 0"
          src="{{ randomPhoto() }}"
          alt=""
        />
        {{ content }}
      </td>
    </tr>
  </table>
</section>
<footer class="pages">
  <button class="pages--btn btn-previous">Anterior</button>
  <button *ngFor="let page of pages" class="page-number">{{ page }}</button>
  <button class="pages--btn btn-next">Próxima</button>
</footer>
