form {
  margin-top: 1.5rem;
}

.btn-ctn {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin-top: 1.5rem;
}

.btn {
  border-radius: 5px;
}

.icon-info {
  position: absolute;
  width: 70%;
  padding: 1rem;
  background-color: #f1f5f8;
  font-size: 0.9em;
  right: 5px;
  top: 45px;
  z-index: 100;
}

.input-description {
  /* agora input muda com vw */
  display: flex;
  flex-direction: column;
  width: 70vw;
  max-width: 300px;
  color: #667085;
  font-size: 0.95em;
  position: relative;
  min-width: 259px;
  margin-top: 1rem;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.info-arrow {
  background-color: #f1f5f8;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 35px;
  right: 10px;
  transform: rotate(45deg);
}

@media (min-width: 768px) {
  input {
    font-size: 24px;
  }

  .input-description {
    font-size: 20px;
  }

  .btn {
    font-size: 24px;
  }
}
