<!-- <label class="input-description" for="{{ content.name }}">
  <img
    (click)="showIconInfo()"
    *ngIf="content.icon !== ''"
    width="20"
    height="20"
    class="input-icon"
    src="{{ content.icon }}"
    alt=""
  />
  <div #cardInfo *ngIf="showInfo" class="icon-info-ctn">
    <div class="info-arrow"></div>
    <p class="icon-info">{{ content.iconDescription }}</p>
  </div>
  <input
    [(ngModel]="sendContent($event)"
    class="input"
    id="{{ content.name }}"
    name="{{ content.name }}"
    type="{{ content.type }}"
    placeholder="{{ content.placeholder }}"
  />
  {{ content.description }}
</label> -->
